/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-primary {
    background-color: #007bff !important;
}

.text-primary {
    color: #007bff !important;
}

.text-light {
    color: #f8f9fa !important;
}

.float-end {
    float: right !important;
}

.float-start {
    float: left !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.w-100 {
    width: 100% !important;
}

.fs-3 {
    font-size: 1.5rem !important;
}

.fs-6 {
    font-size: 0.75rem !important;
}

.card-img {
    height: 100vh;
    object-fit: cover;
}

.weather_specifics {
    display: inline;
    margin-bottom: 0;
}

ul li {
    padding-bottom: 0.5rem;
}

.temperature {
    margin-top: 0;
}

.units {
    font-size: 0.8rem;
}

.superscript-conversion {
    vertical-align: super;
}

.extra-weather {
    margin-top: 1rem;
}

.other-weather li {
    display: inline-block;
    padding-right: 1rem;
}

.weeks-forecast {
    margin-top: 3rem;
}

.weekly-forecast-item {
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.weekly-forecast-item img {
    height: 2rem;
}

.header-section {
    margin-bottom: 0.5rem;
}

.date-time {
    font-size: 1.2rem;
    font-weight: bold;
}

.weather-temperature {
    margin-top: 2rem;
}

/* Form styles */

#search-from {
    display: flex;
    justify-content: center;
}

#city-input {
    border: none;
    border-bottom: 2px solid #007bff;
    margin-right: 0.5rem;
}

#city-input:focus {
    outline: none;
    border-bottom: 2px solid #007bff;
    box-shadow: none;
}

#city-input::placeholder {
    color: #007bff;
    font-style: italic;
}

.btn {
    background-color: #007bff;
    border: none;
    color: #f8f9fa;
}

.btn:hover {
    background-color: #0069d9;
}

.btn:focus {
    box-shadow: none;
}

/* Icon styles */

#icon {
    height: 80px;
}

/* Footer styles */

footer {
    margin-top: 3rem;
    padding: 0.5rem 0;
    background-color: #007bff;
}
